@media (min-width: 500px) {

    header span {
        font-size: 1.5rem;
        /* text-transform: uppercase; */
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .header-logo {
        grid-column: 1/2;
    }

    .navigation {
        grid-column: 2/3;
        background-color: #075f07;
    }



    .hamburger {
        display: none;
    }


    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }

    .active {
        background-color: #477944;
        /* border-left: 3px solid #7f1010 ; */
    }

    /* FOOTER */

    footer {
        min-height: 350px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ..................HOME...................... */
    .highlight {
        font-size: x-large;
    }

    .message {
        font-size: x-large;
    }

    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* ................Uyo Weather...... */
    .weather-report {
        min-height: 550px;
    }

    #forecast {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

       /* ..............WORKERS ALBUM..................... */
    #workers-photocard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .sub-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    }

    input[type="search"] {
        margin-left: 0;
    }

}