:root {
    --header-footer-background: #075f07;
    /* --main-page-background: #D9D4D5; */
    --text-on-header-footer: #f9f9f9;
    --text-on-main-page: #161313;
    --button: #161313;
    --text-on-button: #efefef;
}

* {
    /* margin: 0 auto; */
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    /* min-width: 320px; */
}

h1,
header,
footer {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "Marcellus", Georgia, "Times New Roman", serif; */
    line-height: 1.2;
}


.logo-hamburger {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    background-color: var(--header-footer-background);
    color: var(--text-on-header-footer);
    justify-content: flex-start;
}

.header-logo {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.header-logo img {
    width: 64px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid gold;
    display: block;
}

header span {
    font-size: 1.0rem;

}

/* HAMBURGER NAVIGATION */
.hamburger {
    color: white;
    cursor: pointer;
    font-size: x-large;
    /* padding: 5px 10px 5px 10px; */
    border: 1px solid gold;
    background-color: gray;
    /* width: 44px;
    height: 44px; */
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5px;
    /* margin-left: 10px; */
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
    /* font-size: 1.5rem; */
}

.hamburger:hover {
    background: #e2d2d2;
}

/* NAVIGATION */
.navigation {
    display: none;
    background-color: rgb(51, 49, 49);
    color: var(--text-on-button);
}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.navigation a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--text-on-header-footer);
    text-align: start;
}

.active {
    background-color: #5a5858;
    /* border-left: 3px solid #7f1010 ; */
}

.navigation a:hover {
    text-decoration: overline;
}


/* FOOTER */
footer {
    padding: .5rem 5px;
    text-align: center;
    background-color: var(--header-footer-background);
    color: var(--text-on-header-footer);
    min-height: 550px;
}

.footer div {
    padding: .5rem;
}

/* .social-media {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 5px;
}

.social-media a {
    display: flex;
    border: solid 1px #dfd7d7;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--text-on-button);
    margin: 10px;
} */

iframe {
    display: block;
    width: min(100%, 280px);
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
    border: 0;
    border-radius: 22px;
}

/* .social-media a:hover {
    background-color: #dbc1bb;
} */

/* footer a {
    display: block;
    padding: 1rem;
    color: var(--text-on-header-footer);
    margin-top: 10px;
    border: 1px solid gold;
} */


/* Main*/

h1 {
    margin-left: 10px;
}

main {
    background-color: var(--main-page-background);
    color: var(--text-on-main-page);
}


/* ..................HOME...................... */

.hero {
    text-align: center;
    position: relative;
}

.hero img {
    max-width: 100%;
    height: auto;
    /* position: relative; */
}

/* 
.overlay {
    position: absolute;
    top: 0;
    left: 1%;
    font-size: small;
    
} */

.message {
    display: flex;
    gap: 10px;
    font-size: small;
}

.message button {
    border: none;
    background: none;
}


.highlight {
    /* position: absolute;
    top: 15px;
    left: 5%; */
    font-size: small;
    box-sizing: border-box;
    background-color: #eee7e790;
    margin-left: 10px;
}


h2 {
    text-align: center;
    margin-left: 10px;
}



/* ................Uyo Weather...... */
.weather-report {
    /* font-size: 85%; */
    background-color: #e2d2d295;
    margin-top: 5px;
    min-height: 800px;
}

.weather-report div {
    padding: 20px;
}

.weather-report h2 {
    text-align: start;
    margin-top: 10px;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: 0.1rem;
    list-style: none;
    text-align: start;
    margin: 5px;
    gap: 5px;
}

.forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 180px;
    text-align: center;
}

#current {
    text-align: center;
}

#forecast img,
#weather-icon {
    width: 32px;
    height: auto;
    aspect-ratio: 1;
    margin: 0 auto;
}


/* ..............WORKERS ALBUM..................... */
#workers-photocard {
    /* margin: 1rem 5px; */
    min-height: 800px;
    
}

#workers-photocard section {
    margin: 0.5rem;
    border: solid 1px #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    max-width: 320px;
    height: auto;
  
    display: grid;
    grid-template-areas:
        "photo"
        "title"
        "button";
}

#workers-photocard section div {
    grid-area: title;
    display: grid;
    border-bottom: red 1px solid;
}


#workers-photocard section figure {
    grid-area: photo;
    margin: 0;
}

#workers-photocard section img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    display: block;
}

#workers-photocard section button {
    grid-area: button;
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button);
    color: var(--text-on-button);
}

#workers-detail {
    border-radius: 10px;
    text-align: center;
}

#workers-detail div {
    display: grid;
    grid-template-columns: auto 44px;
    gap: 10px;
    border-bottom: solid 1px #dbc1bb;
   
}

.close-button{
    background: none;
    border: none;
    display: block;
}

.sub-tittle {
    display: flex;
    flex-direction: column;

}

input[type="search"]{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    width: 265px;
    appearance: none;
    margin-left: 10px;
}


